[submodule "themes/austere"]
	path = themes/austere
	url = https://github.com/tomwrw/austere-theme-hugo
[submodule "themes/kana-hugo-theme"]
	path = themes/kana-hugo-theme
	url = https://github.com/ChrisWiegman/kana-hugo-theme
